.nav_container{
    width: 100%;
    height: 50px;
    background-color: #6B3FA0;
  padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
  z-index: 999;
}
.nav_container h2{
    display: flex;
    color: white;
}
.menu ul{
    display: flex;
    justify-self: center;
    gap: 150px;
    list-style: none;
  
}
.menu li a{
    color: white;
    padding: 20px ;
    text-decoration: none;
    font-weight: 700;
    font-size: large;

}

.search-bar{
width: 400px;
padding: 6px;
border-radius: 8px;
margin-bottom: 17px;
}